@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #F3F4F6 inset !important;
    -webkit-text-fill-color: #9CA3AF !important;
    transition: background-color 5000s ease-in-out 0s;
    background-color: F3F4F6 !important;
}